<!-- Início do header -->
<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand"><b>Altima FIM</b></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li *ngIf="logged()" routerLinkActive="active"><a [routerLink]="['/dashboard']">Dashboard</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/restaurants']">Restaurantes</a></li>
          <li *ngIf="!logged()" routerLinkActive="active"><a [routerLink]="['/login']">Entrar</a></li>
          <li routerLinkActive="active"><a [routerLink]="['/about']">Sobre</a></li>
        </ul>
      </div>
      <div *ngIf="logged()" class="user-profile pull-right">
        <img class="avatar user-thumb" src="../../assets/images/author/avatar.png" alt="avatar">
        <h4 class="user-name dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Usuario <i
            class="fa fa-angle-down"></i></h4>
        <div class="dropdown-menu" x-placement="bottom-start"
          style="position: absolute; transform: translate3d(45px, 45px, 0px); top: 0px; left: 0px; will-change: transform;">
          <a class="dropdown-item" href="#">Message</a>
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Log Out</a>
        </div>
      </div>

      <!-- /.navbar-collapse -->

    </div>
  </nav>
</header>
<!-- Fim do header -->
